<html ng-app="baseWebPageApp">
<head>
  <script src="angularjs/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="design_classes.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="Controllers/sidebarController.js"></script>
  <script src="Controllers/styleController.js"></script>
  <script src="Controllers/shirtController.js"></script>
  <script src="Controllers/mainPageController.js"></script>
</head>

<div class="row" style="padding-left: 20px" ng-controller="sidebarController" id="sideBar">
  <ul ng-repeat="dropdown in dropdowns">
    <clickme class="dropdown-toggle">{{dropdown.name}}</clickme>
    <li class="dropdown-menu" hidden="true" id={{dropdown.name + Value}}>{{dropdown.value}}</li>
  </ul>
</div>

<div class="row" style="margin-left: 45%" ng-controller="mainPageController">
  <i class="fa fa-caret-square-o-down" style="" aria-hidden="true" data-toggle="collapse" data-target="#styleTab"></i>
  <div ng-controller="styleController" id="styleTab" class="collapse">
    <select id="styleValue">
      <option ng-repeat="style in styles">{{style.name}}</option>
    </select>
  </div>

  <div class="row" style="" ng-controller="shirtController">
    <i class="fa fa-arrow-left fa-3 col-md-1" aria-hidden="true"></i>

    <i class="fa fa-arrow-right fa-3 col-md-1" aria-hidden="true"></i>
  </div>
</div>

</html>
