body {
    background-color: white;
    margin: 0;
}

website_title {
    color: darkblue;
    text-align: center;
    font-family: bookman;
    font-size: 50px;
}

h1 {
    color: black;
    font-family: verdana;
    font-size: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #555;
    overflow: auto;
    border-bottom: 1px solid #bbb;
    margin-bottom: 0;
}

ul: last-child {
	border-bottom: none;
}

ul clickme {
    margin-bottom: 0;
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

clickme.active {
    background-color: #333;
    color: white;
}

clickme:hover:not(.active) {
    background-color: #333;
    color: white;
}
